.feature-bg(style="background:url('http://pocholabs.com/Tiangiz-Validation-LP/img/Mexican_food.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;")
	.feature-gradient.container-fluid
		.container
			.row
				.col-md-12(style="padding-left: 0px; padding-right: 0px;")
					div.container
						.row
							.col-md-12.col-sm-12.col-xs-12#masthead
								.logo-area

									p.text-center.header-logo-text
										span.t-white TIANGIZ
										span.t-fade APP




		div.container.no-padding
			div#homejb
				.row
					.col-md-12
						p.lead.text-center Connecting fine palates to authentic food.
						p.lead.text-center Connectando a cocinas autenticas a un mercado sofisticado.
				.row
					.col-sm-6
						.q-box.opt-1
							h2.text-center 
								a(href="#opt1", data-toggle="modal", class="text-center") I consider myself a foodie that appreciates authentic food.
					.col-sm-6
						.q-box.opt-2
							h2.text-center 
								a(href="#opt2", data-toggle="modal", class="text-center") Soy un(a) emprendedor(a) con una pasion para cocinar.

#opt1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Great!
						hr

						p  We are working on an app that would do just that. Join our list to get exclusive peeks and pre-launch deals!

						// Begin MailChimp Signup Form
						link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
						style(type='text/css').
							#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
							/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
							We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						#mc_embed_signup
							form#mc-embedded-subscribe-form.validate(action='//pocholabs.us12.list-manage.com/subscribe/post?u=591811b3dc9b0ce128912b7d7&id=291dcc7589', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
								#mc_embed_signup_scroll
									h2 Subscribe to our mailing list
									.mc-field-group
										label(for='mce-EMAIL') Email Address 
										input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
									#mce-responses.clear
										#mce-error-response.response(style='display:none')
										#mce-success-response.response(style='display:none')
									// real people should not fill this in and expect good things - do not remove this or risk form bot signups
									div(style='position: absolute; left: -5000px;', aria-hidden='true')
										input(type='text', name='b_591811b3dc9b0ce128912b7d7_291dcc7589', tabindex='-1', value='')
									.clear
										input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
						script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
						script(type='text/javascript').
							(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
						// End mc_embed_signup



						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close

#opt2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Genial!
						hr

						p  Estamos desarrollando una aplicacion que hace precisamente eso. Inscribite a la lista para recibir lo ultimo en antes de que lo publiquemos.

						// Begin MailChimp Signup Form
						link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
						style(type='text/css').
							#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
							/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
							We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						#mc_embed_signup
							form#mc-embedded-subscribe-form.validate(action='//pocholabs.us12.list-manage.com/subscribe/post?u=591811b3dc9b0ce128912b7d7&id=43ebcb4370', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
								#mc_embed_signup_scroll
									h2 Subscribe to our mailing list
									.mc-field-group
										label(for='mce-EMAIL') Email Address 
										input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
									#mce-responses.clear
										#mce-error-response.response(style='display:none')
										#mce-success-response.response(style='display:none')
									// real people should not fill this in and expect good things - do not remove this or risk form bot signups
									div(style='position: absolute; left: -5000px;', aria-hidden='true')
										input(type='text', name='b_591811b3dc9b0ce128912b7d7_43ebcb4370', tabindex='-1', value='')
									.clear
										input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
						script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
						script(type='text/javascript').
							(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
						// End mc_embed_signup


						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
